<%= cms_snippet_render(:header).html_safe %>
<div class="content-wrap">
  <div class="container-fluid" id="blog-hero">
    <section class="row">
      <header>
        <h1>Youthonomics Blog</h1>
        <h4 class="emphasis-copy">Main Youthonomics Blog</h6>
      </header>
    </section>
  </div><!-- /.container-fluid#about-hero -->
  <div class="main-content container-fluid" id="blog-posts">
    <section class="row">
      <% @posts.each do |post| %>
        <div class="col-xs-6 col-sm-4 panel blog-panel fill-red">
          <%= link_to(" ".html_safe, comfy_blog_post_path(@cms_site.path, @blog.path, post.slug), class: 'spanlink') %>
          <div class="content">
            <h5><%= post.title %></h5>
            <h6 class="subheading">Featured Blog Post</h6>
            <div class="check-it-cta">
              <%= link_to("Check it Out #{image_tag('icon_arrow_r_light.png')}".html_safe, comfy_blog_post_path(@cms_site.path, @blog.path, post.slug), class: 'white') %>
            </div>
          </div>
        </div><!-- /.blog-panel -->
      <% end %>
    </section>
  </div><!-- /#blog-posts -->

  <div class="container-fluid" id="blog-page-navigation">
    <section class="row">
      <div class="col-xs-3">
        <div class="last-post">
          <% if Comfy::Blog::Post.count - (ComfyBlog.config.posts_per_page * (params[:page].present? ? params[:page].to_i : 1)) > 0 %>
            <a href="?page=<%= (params[:page].to_i || 1) + 1 %>">
              <%= image_tag 'icon_arrow_l_dark.png' %>
              <span>older</span>
            </a>
          <% end %>
        </div>
      </div>
      <div class="col-xs-6">
        <nav class="text-center">
          <ul class="pagination">
            <% (Comfy::Blog::Post.count / ComfyBlog.config.posts_per_page.to_f).ceil.times do |index| %>
              <li class="<%= params[:page].try(:to_i) == index + 1 ? 'active' : '' %>"><a href="?page=<%= index + 1 %>"><%= index + 1 %></a></li>
            <% end %>
          </ul>
        </nav>
      </div>
      <div class="col-xs-3">
        <div class="next-post">
          <% if params[:page].present? && params[:page].to_i != 1 %>
            <a href="?page=<%= (params[:page].to_i || 1) - 1 %>">
            <%= image_tag 'icon_arrow_r_dark.png' %>
            <span>newer</span>
            </a>
          <% end %>
        </div>
      </div>
    </section>
  </div>
</div><!-- /.content-wrap -->
<%= cms_snippet_render(:footer) %>
