<div class="map-popup">
  <h1>{{country}}</h1>
  <div class="circle high-ranking">{{score}}</div>
  <div class="circle-desc">Overall ranking</div>

  <div>
    <dl>
      <dt>{{youthnow}}</dt>
      <dd>Youth now</dd>
    </dl>

    <dl>
      <dt>{{rank_yo}}</dt>
      <dd>Youth overall</dd>
    </dl>

    <dl>
      <dt>{{youtho_index}}</dt>
      <dd>Youth optimism</dd>
    </dl>

    <dl>
      <dt>{{score}}</dt>
      <dd>Composite score</dd>
    </dl>

    <a href="{{path}}">More on this country</a>
  </div>
</div>