<div class="map-popup">
  <h1>{{country}}</h1>
  <div class="ranking-row">
    <div class="circle high-ranking">{{youtho_index}}</div>
    <h3 class="subheading">Global Index Ranking</h3>
  </div>

  <div>
    <dl>
      <div class="icon">
        <img src="" alt="" />
      </div>
      <dt class="metric">{{rank_now}}</dt>
      <h3 class="subheading">Youth now</h3>
    </dl>

    <dl>
      <div class="icon">
        <img src="" alt="" />
      </div>
      <dt class="metric">{{rank_yo}}</dt>
      <h3 class="subheading">Youth outlook</h3>
    </dl>
    <dl>
      <div class="icon">
        <img src="" alt="" />
      </div>
      <dt class="metric">{{youth_optimism}}</dt>
      <h3 class="subheading">Youth optimism</h3>
    </dl>

    <a href="{{path}}" class="btn outline-dark">More on this country</a>
  </div>
</div>
