<div class="map-popup">
  <h1>{{country}}</h1>
  <div class="ranking-row">
    <div class="circle high-ranking">{{score}}</div>
    <h3 class="subheading">Global Index Ranking</h3>
  </div>

  <div>
    <dl>
      <div class="icon">
        <img src="" alt="" />
      </div>
      <dt class="metric">{{score}}</dt>
      <h3 class="subheading">Composite Score</h3>
    </dl>

    <dl>
      <div class="icon">
        <img src="" alt="" />
      </div>
      <dt class="metric">{{youtho_index}}</dt>
      <h3 class="subheading">Youth Optimism Index</h3>
    </dl>
    <dl>
      <div class="icon">
        <img src="" alt="" />
      </div>
      <dt class="metric">{{rank_yo}}</dt>
      <h3 class="subheading">Youth Overall</h3>
    </dl>
    <dl>
      <div class="icon">
        <img src="" alt="" />
      </div>
      <dt class="metric">{{youthnow}}</dt>
      <h3 class="subheading">Youth Now</h3>
    </dl>

    <a href="{{path}}" class="btn outline-dark">More on this country</a>
  </div>
</div>
