<div class="map-popup">
  <h1>{{country}}</h1>
  <div class="ranking-row">
    <div class="circle high-ranking">{{youtho_index}}</div>
    <h3 class="subheading">Global Index Ranking</h3>
  </div>

  <div>
    <dl>
      <div class="icon youth-now-icon">
      </div>
      <dt class="metric">{{rank_now}}</dt>
      <h3 class="subheading">Youth Now</h3>
    </dl>

    <dl>
      <div class="icon youth-outlook-icon">
      </div>
      <dt class="metric">{{rank_yo}}</dt>
      <h3 class="subheading">Youth Outlook</h3>
    </dl>
    <dl>
      <div class="icon youth-optimism-icon">
      </div>
      <dt class="metric">{{youth_optimism}}</dt>
      <h3 class="subheading">Youth Optimism</h3>
    </dl>

    <a href="{{path}}" class="btn outline-dark">More on this country</a>
  </div>
</div>
